/*
color theme: 
pink: #FF9D8C
orange: #FFA500
beige: FFEA9B
black

*/



body {
	font-family: 'Quattrocento Sans', cursive;
	margin:0 auto;	
	width: 100%;
	}
	
div#wrapper{
	margin: auto;
	width: 900px;
	
}


/* navigation CSS */

a:link {color:#808080; text-decoration:none;}    
a:visited {color:#808080; text-decoration: #FFA500;} 
a:hover {color:#FFA500;}   
a:active {color:#FFA500; text-decoration:line-through;} 

nav a#current{
	text-decoration:line-through;
	color:#FFA500;
}

ul li{
	list-style-type:none;
	display:inline;
	padding: 10px;
	}
	
nav#menu{
	color: #c0c0c0;
	font-size: 0.75em;
	margin-left: 240px;
	font-family: 'Cantarell', sans-serif;
	margin-bottom: -45px;
	position:relative;
	}


/*Header*/

article.canvas{
	margin-bottom:-5px;
	}
	
canvas#rect0 {
	width:650px;
	height: 1px;
	background: #c0c0c0;
	margin-bottom:-22px;
	margin-left: 250px;
	}
	
canvas#rect1 {
	width:900px;
	height: 2px;
	background: #736F6E;
	margin-bottom:-10px;
	}
	
	
canvas#rect2 {
	width:900px;
	height: 5px;
	background: black;
	}
	
	
h1#h1text {
	margin-top: 5px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	}
 
h1#logo{
	margin-bottom: -60px;
	}
	
img#main {
	width: 900px;
	border: 1px solid #000ff;
	}



/*aboutme page content*/

.mainContent{
	font-size: 0.8em;
	margin-top: -4px;
	
	}
	
#content1{
	width: 280px;
	padding-left:10px;
	padding-right:10px;
	}
	
#content2{
	width: 280px;
	padding-left:10px;
	padding-right:10px;
	}
	
#content3{
	width: 280px;
	padding-left:10px;
	padding-right:10px;
	}
	
	
h2{
	margin: 0;
	padding: 5px;
	background: #333;
	color: #fff;
	width: 290px;
}

#indexcontent1{
	width: 300px;
	display:block;
	position:absolute;
	}


#indexcontent2{
	width: 300px;
	margin-left: 300px;
	display:block;
	position:absolute;
	}
	
#indexcontent3{
	width: 300px;
	margin-left: 600px;
	display:block;
	position: inherit;
	}


footer{
	margin-top: 50px;
	font-size: x-small;
	position: relative;
	}



/* photography.html */
		
section#photographyimg img{
		clip:rect(50px 50px 50px 50px)
		padding:20px;
		width:200px;
		}
	
section#photographyimg a:hover img {
		border: 3px solid #FFA500;
		opacity: 100%;
		}

section#photographyimg{
	padding-top: 15px;
	}	
	

/* video.html	 */

	
section#videos{
	padding-top: 15px;
	margin-left:280px;
	width: 450px;
	}
	
section.grass{
	width: 900px;
	}
	
section#ceramicthumb img{
	width: 900px;
	}

/* IAT content */

section.iat{
	font-size: 0.9em;
	}
	
	
	


	
	
	
	
	
	
	
	